// -------------------------------------
//   Dependencies
// -------------------------------------
// variables
@import "styles/base/variables";
@import "styles/modules/variables";

// mixins
@import "styles/base/mixins";
@import "styles/modules/mixins";

// -------------------------------------
//   Component - Hero Chart
// -------------------------------------
/**
    * @name HeroChart
    * @desc styles for the hero chart component.
**/
// map of colors for
// the bar elements
$hchart_bar_colors: (
    "1": $color_primary,
    "2":  #CA5150, "3":  #A54E50,
    "4":  #814C4F, "5":  #5C494F,
    "6":  #37474F, "7":  #34575C,
    "8":  #316768, "9":  #2F7775,
    "10": #2C8681, "11": #29968E,
    "12": $color_secondary
);

$hchart_bar_count: 12;

// function to get the bar
// color for the given key
@function get-hchart-bar-color($key) {
    // check if the key exists on the color map
    // and output a warning if it does not exist
    @if not map-has-key($hchart_bar_colors, $key) {
        @warn "$hchart_bar_colors key `#{$key}` not found.";
    }

    // return the mapped color for given key
    @return map-get($hchart_bar_colors, $key);
}

// the hchart
// placeholder
%hchart {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%; height: 100%;
}

.hchart { @extend %hchart; }

// -------------------------------------
//   Hero Chart - SVG
// -------------------------------------
.hchart__svg {
    $this: &;
    @extend %hchart;

    // svg - bar
    &__bar {
        @include transitions(fill);
        transition-duration: $trans_time_slow;
        fill: $color_grey_soft;
    }

    // svg - path
    &__path {
        fill: none;
        stroke-width: 2;
        stroke: $color_grey_soft;

        // modifier - line - best
        // modifier - line - avg
        &--line-best { stroke: $color_primary; }
        &--line-avg  { stroke: $color_secondary; }
    }

    // svg - circle
    &__circle {
        fill: white;

        // modifier - point - best
        // modifier - point - avg
        &--point-best { /* --empty block-- */ }
        &--point-avg  { /* --empty block-- */ }
    }

    // modifier - theme interval
    &--theme-interval {
        // svg - bar
        #{$this}__bar {
            // loop through and
            // get the bar colors
            @for $i from 1 // start
            through $hchart_bar_count {
                &:nth-child(n + #{$i}) {
                    fill: get-hchart-bar-color(#{$i});
                }
            }
        }
    }

    // modifier - theme swing
    &--theme-swing {
        // svg - bar
        #{$this}__bar {
            // loop through and
            // get the bar colors
            @for $i from 1 // start
            through $hchart_bar_count {
                &:nth-child(n + #{$i}) {
                    fill: get-hchart-bar-color(#{$hchart_bar_count + 1 - $i});
                }
            }
        }
    }
}
