// -------------------------------------
//   Dependencies
// -------------------------------------
// variables
@import "modules/Layout/variables";

// mixins
/* --empty block-- */

// -------------------------------------
//   Module - Section
// -------------------------------------
/**
    * @name Section
    * @desc --description--
**/

// -------------------------------------
//   Section - Padding
// -------------------------------------
$section_pad: 80px;

$section_pad_tab:    60px;
$section_pad_tab_sm: 50px;

$section_pad_mob:    40px;
$section_pad_mob_sm: 20px;

// -------------------------------------
//   Section - Margin
// -------------------------------------
$section_margin: $section_pad;

$section_margin_tab:    $section_pad_tab;
$section_margin_tab_sm: $section_pad_tab_sm;

$section_margin_mob:    $section_pad_mob;
$section_margin_mob_sm: $section_pad_mob_sm;

