// -------------------------------------
//   Dependencies
// -------------------------------------
// variables
@import "./variables";

// mixins
@import "modules/Layout/mixins";

// -------------------------------------
//   Module - Transitions
// -------------------------------------
/**
    * @name Transitions
    * @desc --description--
**/

// mixin to create default tranitions
// e.g. @input @include transitions(color)
// e.g. @output transition: color 0.35s ease
@mixin transitions($props...) {
    // create an emoty list
    $transitions: ();

    // append each property to list
    @each $prop in $props {
        $transitions: append($transitions, ($prop $trans_time_fast $ease_in_out_quad), comma);
    }

    // assign list to attribute
    transition: $transitions;
}
