// -------------------------------------
//   Dependencies
// -------------------------------------
// variables
/* --empty block-- */

// mixins
/* --empty block-- */

// -------------------------------------
//   Base - Breakpoints
// -------------------------------------
/**
    * @name Breakpoints
    * @desc variables for the base breakpoints.
**/

// max widths
$mobile_w_sm: 480px;
$mobile_w:    768px;

$tablet_w_sm: 1024px;
$tablet_w:    1280px;

// min widths
$desktop_w_lg: 1920px;
