// -------------------------------------
//   Dependencies
// -------------------------------------
// variables
/* --empty block-- */

// mixins
/* --empty block-- */

// -------------------------------------
//   Base - Colors
// -------------------------------------
/**
    * @name Colors
    * @desc variables for the base colors.
**/

$color_grey_sky:  #F5F5F5;
$color_grey_soft: #E0E0E0;
$color_grey_warm: #616161;

$color_grey_dark: #212121;
$color_grey_blue: #37474F;

$color_primary:   #EF5350;
$color_secondary: #26A69A;

$color_primary_dark:   #E53935;
$color_secondary_dark: #00897B;
