// -------------------------------------
//   Dependencies
// -------------------------------------
// variables
/* --empty block-- */

// mixins
/* --empty block-- */

// -------------------------------------
//   Module - Colors
// -------------------------------------
/**
    * @name Colors
    * @desc --description--
**/

// blue grey
$color_bgrey_extdark: #263238;
$color_bgrey_meddark: #37474F;
$color_bgrey_medium:  #607D8B;
$color_bgrey_light:   #B0BEC5;

// grey
$color_grey_extdark: #212121;
$color_grey_meddark: #424242;
$color_grey_medium:  #9E9E9E;
$color_grey_light:   #EEEEEE;

// primary
$color_primary: #EF5350;
$color_primary_hover: darken($color_primary, 10%);

// secondary
$color_secondary: #26A69A;
$color_secondary_hover: darken($color_secondary, 10%);
