// -------------------------------------
//   Dependencies
// -------------------------------------
// variables
@import "styles/base/variables";
@import "styles/modules/variables";

// mixins
@import "styles/base/mixins";
@import "styles/modules/mixins";

// -------------------------------------
//   Main - App
// -------------------------------------
/**
    * @name App
    * @desc styles for the main app.
**/

.app { @extend %root; }

// -------------------------------------
//   App - View
// -------------------------------------
.app__view {
    @extend %root;
    z-index: $zi_overlay;
    position: absolute;
    left: 0; top: 0;
}

// -------------------------------------
//   App - Page
// -------------------------------------
.app__page {
    @extend %root;
    overflow: auto;
    height: $base_html_h_min;
    -webkit-overflow-scrolling: touch;

    // modifiers - scroll
    &--scroll-enabled  { /* empty block */ }
    &--scroll-disabled { overflow: hidden;
        -webkit-overflow-scrolling: none;
    }
}

// -------------------------------------
//   App - Page - Content
// -------------------------------------
.app__page__content { @extend %root; }
