// -------------------------------------
//   Dependencies
// -------------------------------------
// variables
@import "variables";

// mixins
@import "mixins";

// -------------------------------------
//   Base - Layout
// -------------------------------------
/**
    * @name Layout
    * @desc styles for the base layout.
**/

// html, body, root
html, body, #root {
    @extend %root;
    background-color: white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

// image
img {
    display: block;
    position: relative;

    width: 100%;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;

    // to prevent alt text
    // from displayed while
    // the img is loaded
    color: transparent;
}

// fallback styles for browsers
// that do not support tempaltes
template { display: none !important; }

// br tags are not visible on
// smaller devices unless
// explicitly specified
br {
    &:not(.mobile):not(.tablet):not(.all) {
        @include tablet-sm { display: none; }
    }

    &.tablet:not(.all) {
        @include tablet-sm-up { display: none; }
        @include mobile { display: none; }
    }

    &.mobile:not(.all) {
        @include mobile-up { display: none; }
    }
}
