// -------------------------------------
//   Dependencies
// -------------------------------------
// variables
@import "variables";

// mixins
@import "mixins";

// -------------------------------------
//   Base - Typography
// -------------------------------------
/**
    * @name Typography
    * @desc styles for the base typography.
**/

html, body, #root {
    @extend %font-size-root;
}

h1  { @extend %font-size-h1; }
h2  { @extend %font-size-h2; }
h3  { @extend %font-size-h3; }
h4  { @extend %font-size-h4; }

ul, ol, li, p, a {
    @extend %font-size-p;
}

html, body, #root {
    color: $color_grey_warm;
}

h1, h2, h3, h4 {
    color: $color_grey_dark;
    &:first-child { margin-top: 0; }
    &:last-child  { margin-bottom: 0; }
    @include mobile { text-align: center; }
}

ul, ol, li, p, a {
    color: $color_grey_warm;
    &:first-child { margin-top: 0; }
    &:last-child  { margin-bottom: 0; }
}

ul, ol {
    padding-left: 1em;

    li {
        margin-top: 0.25em;
        padding-left: 0.25em;
        &:first-child { margin-top: 0; }
        &:last-child { margin-bottom: 0; }
    }
}

a {
    text-decoration: none;
    @include transitions(color);

    color: $color_secondary;
    outline: 0;

    &:hover, &:focus, &:active {
        color: $color_secondary_dark;
        outline: 0;
    }
}

p.disclaimer {
    font-size: 0.75rem;
    color: $color_grey_warm;
}

// -------------------------------------
//   Typography - Icons
// -------------------------------------
// icon margin spacings
$icon_sp_content: 0.65em;
$icon_sp_header:  0.5em;

i, .icon {
    display: inline-block;
    vertical-align: middle;
}

h1, h2, h3, h4, p, a {
    span, a, i, .icon {
        font-size: inherit;
        line-height: inherit;
    }

    span, a {
        font-family: inherit;
        font-weight: inherit;
        line-height: inherit;
    }
}

h1, h2, h3, h4 {
    span, a {
        & + i, & + .icon {
            margin-left: $icon_sp_header;

            @include mobile {
                display: block;
                margin-left: 0;
                margin-top: $icon_sp_header;
            }
        }
    }

    i, .icon {
        & + a, & + span {
            margin-left: $icon_sp_header;

            @include mobile {
                display: block;
                margin-left: 0;
                margin-top: $icon_sp_header;
            }
        }
    }
}

li, p, a {
    span, a {
        & + i, & + .icon {
            margin-left: $icon_sp_content;
        }
    }

    i, .icon {
        & + a, & + span {
            margin-left: $icon_sp_content;
        }
    }
}
